*{
    margin:0% ;
    padding: 0%;
    box-sizing:border-box;
}
body{
    background-color: black;
    color: white;
    font-family:"poppins",sans-serif;
}
.navbar{
    position: absolute;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;  
    z-index:10;
}
.navbar_netflix{
    width: 125px;
    height: 100%;
}
.navbar__nav__item{
    display: flex;
    gap: 20px;
}
.language_drop_down{
    background: transparent;
    border: none;
    color: white;
}
.dropdown__container{
    border: 1px solid white;
    padding:0.4rem;
    border-radius:4px;
    background: rgba(0,0,0,0);
}
.signin__button{
    border: red;
    background-color: red;
    color: white;
    padding:0.25rem 0.5rem;
    border-radius:8px;
    height:35px;
    width: 100px;
}  
.hero__bg__img__container{
    height: 100%;
    width: 100%;
} 
.hero__bg__image{
    height:100%;
    width:100%;
    object-fit: contain;
}
.hero__bg__overlay{
    position: absolute;
    inset:0;
    width: 100;
    height: 100%;
    background:rgba(0,0,0,0.4);
}
.hero__card{
    position: absolute;
    top:30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left:30%;  
}
.hero__title{
    font-weight:600;
    font-size:3rem;
}
.hero__subtitles,
.hero__description{
    font-weight: 400;
    font-size:1.3rem;
}
.EMAIL{
    width: 450px;
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    padding: 0.25rem 0.5 rem;
    border-radius:5px;
    border-color: white;
    color: white;
    font-size: x-large;
}

.get__started{
    font-size: large;
    width: 170 px;
    height: 60px;
    background-color:red;
    border: 1px solid red;
    color: white;
    border-radius:5px;
    padding:10px;
}
.card-1,
.card-2,
.card-3,
.card-4{
    width:fit-content;
    border-top:8px solid grey;
    padding:50px;  
}
.card-1{
    position: relative;
    display:inline-grid;
    grid-template-columns:50% 40%;
    text-align: left;
    align-items: center;
    padding:25px 45px 50px;
}
.desc-1{
    padding-left: 100px;
}
.card-1 video{
    position: relative;
    width: 158%;
    height: 60%;
    grid-column:2/2;
    grid-row: 1/2;
    z-index: -1;
    padding-left:100px
}
.card-1 img{
    grid-column: 2/2;
    grid-row:1/2;
    padding-left:100px;
}
.style-cards h1{
    font-size: 3rem;
    padding:1rem;
    padding-left: 0;
}
.style-cards h3{
    font-size: 1.6rem;
    line-height: 2rem;
}
.card-2{
    position: relative;
    display:inline-grid;
    grid-template-columns:50% 40%;
    text-align: left;
    align-items: center;
    padding:25px 45px 50px;
}
.desc-2{
    /* padding-left: 100%; */
    margin-left: 100px;
}
.card-3{
    position: relative;
    display:inline-grid;
    grid-template-columns:50% 40%;
    text-align: left;
    align-items: center;
    padding:25px 45px 50px;
    gap:100px;
}
.desc-3{
    padding-left:80px;
    padding-right:20px;
}
.card-3 img{
    width:100%;
    grid-column: 2/2;
    grid-row:1/2;
}
.card-3 video{
    position: relative;
    top: -65px;
    left:85px;
    width:65%;
    height:78%;
    grid-column:2/2;
    grid-row: 1/2;
    z-index:-1;
}
.card-4{
position: relative;
display: inline-grid;
grid-template-columns:50% 40%;
text-align:left;
gap: 100px;
align-items: center;
}
.desc-4{
    width:680px  ;
}